.formmm{
    background-color: orange;
    margin-left: 8px;
    width: 930px;
}
.btn-primary{
 margin-left: 11px;
}
.name{
    margin-top: 20px;
}
.addp{
    margin-bottom: 15px ;
    background-color: red;
    width: 930px;
    margin-left: 10px;
}
.cardss{
    background-color: orange;
    margin-bottom: 60px;
    padding: 3px;
    margin-top: 18px;
}
.pcrew{
    background-color: red;
    margin-top: 20px;
    height: 60px;
}
.positon{
    margin-left: 20px;
}

